.open-button {
    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 80px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
}

.save-button {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 80px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;
}

.editing_form{

    display: none;

}

.delete_account_button{

    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;


}

.user-avatar-block{

float: left;



}

.user-info-block{




   float: right;



}

.subscribe-button{

    background-color: dodgerblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    bottom: 23px;
    right: 28px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    margin: 5px;

}